export(as.binary.matrix)
export(dissimilarity)
export(is.binary.matrix)
export(similarity)
importFrom(stats,as.dist)
S3method(as.dist,similarity)
S3method(as.matrix,similarity)
S3method(print,similarity)
